

.input-wrapper{
    max-width: 200px;
    max-height: 100px;
}

#save-btn{
    color: gold;
    background-color: red;
    float: ;

}


input{
    width: 100%;
    /* max-width: 300px; */
    /* diplays: block: */
border: 1px solid gray;
border-radius: 4px;
height: 30px;
padding-left: 5px;
padding-right: 5px;
outline: none;
}

.error-msg{
    height: 12px;
   font-size: 10px;
   color: red;

}

.checkbox{
    float: left;
    width: 15px;
    height: 15px;

}

.table{
    border-radius: 10px;
    border-color: green;
    border-collapse: collapse;
    margin: 10px;
    
}
table,th, td {
    border: 1px solid rgb(236, 234, 234);
    border-collapse: collapse;
    border-width: 1px;
    border-color: green;
}